{% extends "dashboard/dashboard-base.html" %}
{% block content  %}
<div class="row ">
<div class="col-6"><h3>Scheduler</h3>
</div>
<div class="col-6">
<a href="{% url 'Scheduler_add_url' %}" class="btn btn-primary float-right text-light">
  <span data-toggle="tooltip" data-placement="top" data-feather="plus"></span> Add New
</a></div>

</div>
<hr>

{% load static %}

<!-- Button trigger modal -->



<div class="thecontainer">

{% include "dashboard/scheduler/list-scheduler-component.html" %}



</div>















{% endblock %}