{% load static %}

 


</form>
<style>


</style>

<br>
<div class="h-100 ">
<div class= "row" >
{% if schedule_maintances != 0 %}
<h4 class="pl-3">You have {{schedule_maintances}} scheduler </h4>
<div class ="col-md-12">
<ul class="list-group">
 {% for schedule in schedule_maintance %}
<br>
<li class="list-group-item">
<div class="d-flex">
  <div class="mr-auto ml-5 pt-3">{{schedule.name}}</div>
  <div class="p-2"><a class="btn bg-light" href="{% url 'Scheduler_url_update' pk=schedule.id %}">update</a></div>
  <div class="p-2"><a class="btn btn-danger confirm-delete " hola="{{schedule.name}}" href="{% url 'Scheduler_url_del' pk=schedule.id %}" title="Delete"  data-toggle="modal" data-target="#confirmDeleteModal" hola="{{schedule.id}}" id="deleteButton{{schedule.id}}">delete</a></div>
</div>
</li>
  







{% endfor %}
</ul>
</div>
{% else %}
<div class="col-md-12 h-100">
<div style="height:260px"></div>
<center><h3>No data available.</h3></center>
</div>




{% endif %}
</div>
</div>



<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    console.log("its running nigga");
 
   
    
  });


  

  

  
  </script>

