{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 


</form>
<style>


</style>
<br>
<div style="height:100%">
<div class= "row" >

{% for web in weblist_param %}
<div class ="col-md-4">


<div class="card line-content mt-4" >
  <div class="card-body">
       
     <h2>
     
         {{web.website_name}}
         
         
        </h2>
      
     
    
      <p>
      {% if web.status_action == 'Identified' %}
       <span class=""><span data-toggle="tooltip" data-placement="top" data-feather="flag" data-toggle="tooltip" title="Identified"></span></span>
      {% elif web.status_action == 'Fixed' %}
       <span class=""><span data-toggle="tooltip" data-placement="top" data-feather="check-circle" data-toggle="tooltip" title="Fixed"></span></span>
      {% elif web.status_action == 'Watch' %}
       <span class=""><span data-toggle="tooltip" data-placement="top" data-feather="eye" data-toggle="tooltip" title="Watch"></span></span>
      {% elif web.status_action == 'Investigating' %}
       <span class=""><span data-toggle="tooltip" data-placement="top" data-feather="search" data-toggle="tooltip" title="Investigating"></span></span>
      {%endif%}
       {% if web.status_website == 'Up' %}
        <a data-toggle="tooltip" style='color:green'  title="this incident is up"><span data-toggle="tooltip" data-placement="top" data-feather="arrow-up"></span></a>
        {%else%}
         <a data-toggle="tooltip" style='color:red' title="this incident is down"><span data-toggle="tooltip" data-placement="top" data-feather="arrow-down"></span></a>

          {%endif%}
           {% if web.stickied == 'Stikced' %}
        <a data-toggle="tooltip" style='color:black'  title="this incident is stickied"><span data-toggle="tooltip" data-placement="top" data-feather="award"></span></a>
          {%endif%}




      </p>
         
      <p>Message:&nbsp;{{web.message}}</p>
      <a class="btn bg-light ml-1" href="{% url 'incident_url_update' pk=web.id %}">update</a>

      <a class="btn btn-danger confirm-delete" href="{% url 'incident_url_del' pk=web.id %}">delete</a>





    </tr>
</div>
</div>


</div>
{% endfor %}
</div>
</div>
<br>
<center>
<nav aria-label="Page navigation example">
<ul  class="pagination justify-content-center"id="pagin">
         
</ul>
</nav>
</center>













<script src="{% static 'js/pagination.js'%}"></script>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    console.log("its running nigga");
 
   
    
  });


  

  

  
  </script>

