{% load static %}

 

<br>
<div class="h-100 p-0">
<div class= "row" >
{% if weblist_param.count != 0 %}
 {% for web in weblist_param %}
<div class ="col-md-4">


<div class="card line-content mb-4" style="display:none" >
  <div class="card-body">
      <div class="row">
      <div class="col-md-6">
       <h2>
     
         {{web.name}}
         
         
         
        </h2>
      </div>
      <div class="col-md-6" > 
       <p class="float-right">
      {% if web.status_action == 'Identified' %}
       <span class=""><i class="fas fa-flag"></i></span>
      {% elif web.status_action == 'Fixed' %}
       <span class=""><i class="fas fa-check"></i></span>
      {% elif web.status_action == 'Watch' %}
       <span class=""><i class="fas fa-eye"></i></span>
      {% elif web.status_action == 'Investigating' %}
       <span class=""><i class="fas fa-search"></i></span>
      {%endif%}
       {% if web.status_Downtime == 'Up' %}
        <a data-toggle="tooltip" style='color:green'  title="this incident is up"><i class="fas fa-arrow-up"></i></a>
        {%else%}
         <a data-toggle="tooltip" style='color:red' title="this incident is down"><i class="fas fa-arrow-down"></i></a>

          {%endif%}
           {% if web.stickied == 'Stikced' %}
        <a data-toggle="tooltip" style='color:black'  title="this incident is stickied"><i class="fas fa-thumbtack"></i></a>
          {%endif%}




      </p>
      </div>
      
     
      </div> 
     
     
    
     
         
      <p>Message:&nbsp;{{web.message}}</p>
      <a class="btn bg-light ml-1" href="{% url 'incident_url_update' pk=web.id %}">update</a>

      <a class="btn btn-danger confirm-delete" href="{% url 'incident_url_del' pk=web.id %}">delete</a>





    </tr>
</div>
</div>


</div>
{% endfor %}

{% else %}
<div class="col-md-12 h-100">
<div style="height:260px"></div>
<center><h3>No data available.</h3></center>
</div>




{% endif %}
</div>
</div>
{% if weblist_param.count != 0 %}

<br>

<center>
<nav aria-label="Page navigation example">
<ul  class="pagination justify-content-center"id="pagin">
         
</ul>
</nav>
</center>
<script src="{% static 'js/pagination.js'%}"></script>
{%else%}
{%endif%}


<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    console.log("its running nigga");
 
   
    
  });


  

  

  
  </script>

