{% load static %}

 


</form>
<style>


</style>

<br>
<div class="h-100 ">
<div class= "row" >
{% if component_groups != 0 %}
<div class ="col-md-12">
<ul class="list-group">
 {% for component_group in components_group %}
 <br>
<li class="list-group-item">
<div class="d-flex">
  <div class="mr-auto ml-5 pt-2">{{component_group.name}}</div>
  <div class="mr-2"><a class="btn bg-light" href="{% url 'component-group_url_update' pk=component_group.id%} ">update</a></div>
  <div class=""><a class="btn btn-danger confirm-delete " hola="{{component_group.name}}" href="{% url 'component-group_url_del' pk=component_group.id%}" title="Delete"  data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{component_group.id}}">delete</a></div>
</div>
</li>
  







{% endfor %}
</ul>
</div>
{% else %}
<div class="col-md-12 h-100">
<div style="height:260px"></div>
<center><h3>No data available.</h3></center>
</div>




{% endif %}
</div>
</div>



<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    console.log("its running nigga");
 
   
    
  });


  

  

  
  </script>

