{% load static %}

 


</form>
<style>


</style>

<br>
<div class="h-100 ">
<div class= "row" >
{% if componennya != 0 %}
<div class ="col-md-12">
<ul class="list-group">
 {% for component in components %}
 <br>
<li class="list-group-item">
<div class="d-flex">
  <div class="mr-auto ml-5 pt-3">{{component.name}}</div>
  <div class="p-2"><a class="btn bg-light " href="{% url 'component_url_update' pk=component.id %} ">update</a></div>
  <div class="p-2"><a class="btn btn-danger confirm-delete" hola="{{component.name}}" href="{% url 'component_url_del' pk=component.id%}" title="Delete"  data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{component.id}}">delete</a></div>
</div>
</li>
  







{% endfor %}
</ul>
</div>
{% else %}
<div class="col-md-12 h-100">
<div style="height:260px"></div>
<center><h3>No data available.</h3></center>
</div>




{% endif %}
</div>
</div>



<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    console.log("its running nigga");
 
   
    
  });


  

  

  
  </script>

