{% extends "dashboard/dashboard-base.html" %}
{% block content  %}
<h3>Add incident</h3>
<hr>
<br>

<form  method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
{% load static %}
</table>
<input  type="submit"  value="Submit"  />
</form>
<br>
<br>
<table class="table" id="tableoutput">
   <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">action</th>
      <th scope="col">status</th>
      <th scope="col">name</th>
      <th scope="col">url</th>
      <th scope="col">message</th>
      <th scope="col"></th>
    
    </tr>
  </thead>
  <tbody class="searchable">
  <div class="row">
  <div class="col-md-6"></div>
    <div class="col-md-6">  
    <input type="text" style="float:right;width:40%" class="form-control" id="searchaddwebsite" placeholder="Search">
    
</div>


  </div>
<br>
{% if counter == 0 %}

  <td align="center" style="text-align:center;background-color: #E9ECEF;" width="100%" colspan="7">no data</td>





{%endif%}
{% for web in weblist_param %}

<tr>
       
      <td>{{ forloop.counter }}</td>
      <td>{{web.status_action}}</td>
      <td>{{web.status_webstie}}</td>
      <td>{{web.website_name}}</td>
      <td>{{web.url}}</td>
      <td>{{web.message}}</td>
      <td><a class="btn btn-danger" href="{% url 'incident_url_del' pk=web.pk %}">delete</a></td>


    </tr>


{% endfor %}
</tbody>
</table>

<center>
{% if weblist_param.has_other_pages %}
  <ul class="pagination">
    {% if weblist_param.has_previous %}
      <li><a href="?page={{ weblist_param.previous_page_number }}">«&nbsp;</a></li>
    {% else %}
      <li class="disabled"><span>«&nbsp;</span></li>
    {% endif %}
    {% for i in weblist_param.paginator.page_range %}
      {% if weblist_param.number == i %}
        <li class="active"><span>{{ i }}&nbsp; <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }} &nbsp;</a></li>
      {% endif %}
    {% endfor %}
    {% if weblist_param.has_next %}
      <li><a href="?page={{ weblist_param.next_page_number }}">»&nbsp;</a></li>
    {% else %}
      <li class="disabled"><span>»</span></li>
    {% endif %}
  </ul>
{% endif %}
</center>


<script src="{% static 'js/addwebsite.js'%}"></script>




{% endblock %}