{% load static %}




</form>
<style>

.current {
  color: green;
}

#pagin li {
  display: inline-block;
}
</style>
<br>


{% for web in weblist_param %}


<div class="card line-content mt-4">
  <div class="card-body">
       
     <h2>
     
         {{web.website_name}}
          {% if web.status_webstie == 'Up' %}
        <a href="#" data-toggle="tooltip"  title="this incident is UP"><span data-toggle="tooltip" data-placement="top" data-feather="arrow-up"></span></a>
        {%else%}
         <a href="#" data-toggle="tooltip"  title="this incident is Down"><span data-toggle="tooltip" data-placement="top" data-feather="arrow-down"></span></a>

          {%endif%}
           {% if web.stickied == 'Stikced' %}
        <a href="#" data-toggle="tooltip"  title="this incident is stickied"><span data-toggle="tooltip" data-placement="top" data-feather="star"></span></a>
          {%endif%}
         
        </h2>
      
     
    
      <a>
      {% if web.status_action == 'Identified' %}
       <span class="badge badge-primary"> {{web.status_action}}</span>
      {% elif web.status_action == 'Fixed' %}
       <span class="badge badge-success"> {{web.status_action}}</span>
      {% elif web.status_action == 'Watch' %}
       <span class="badge badge-secondary"> {{web.status_action}}</span>
      {% elif web.status_action == 'Investigating' %}
       <span class="badge badge-info"> {{web.status_action}}</span>
      {%endif%}




      </a>
         
      <p>Message:&nbsp;{{web.message}}</p>
      
      <a class="btn btn-danger" style="float:right" href="{% url 'incident_url_del' pk=web.id %}">delete</a>


    </tr>
</div>
</div>



{% endfor %}
<br>

<ul id="pagin">
         
</ul>








<script src="{% static 'js/addwebsite.js'%}"></script>
<script src="{% static 'js/pagination.js'%}"></script>


<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
    
  });
  

  
  </script>
