{% load static %}




</form>
<style>

/* Remove extra left and right margins, due to padding */
.row {margin: 0 10px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.current {
  color: green;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


.current {
  color: green;
}

#pagin li {
  display: inline-block;
}

.prev {
  cursor: pointer;
}

.next {
  cursor: pointer;
}

.last{
  cursor:pointer;
  margin-left:5px;
}

.first{
  cursor:pointer;
  margin-right:5px;
}
.prev {
  cursor: pointer;
}

.next {
  cursor: pointer;
}

.last{
  cursor:pointer;
  margin-left:5px;
}

.first{
  cursor:pointer;
  margin-right:5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


}
</style>
<br>
<div style="height:500px">
<div class= "row" >


{% for web in weblist_param %}
<div class ="column">


<div class="card line-content mt-4" >
  <div class="card-body">
       
     <h2>
     
         {{web.website_name}}
          {% if web.status_webstie == 'Up' %}
        <a href="#" data-toggle="tooltip"  title="this incident is UP"><span data-toggle="tooltip" data-placement="top" data-feather="arrow-up"></span></a>
        {%else%}
         <a href="#" data-toggle="tooltip"  title="this incident is Down"><span data-toggle="tooltip" data-placement="top" data-feather="arrow-down"></span></a>

          {%endif%}
           {% if web.stickied == 'Stikced' %}
        <a href="#" data-toggle="tooltip"  title="this incident is stickied"><span data-toggle="tooltip" data-placement="top" data-feather="star"></span></a>
          {%endif%}
         
        </h2>
      
     
    
      <h4>
      {% if web.status_action == 'Identified' %}
       <span class="badge badge-primary"> {{web.status_action}}</span>
      {% elif web.status_action == 'Fixed' %}
       <span class="badge badge-success"> {{web.status_action}}</span>
      {% elif web.status_action == 'Watch' %}
       <span class="badge badge-secondary"> {{web.status_action}}</span>
      {% elif web.status_action == 'Investigating' %}
       <span class="badge badge-info"> {{web.status_action}}</span>
      {%endif%}




      </h4>
         
      <p>Message:&nbsp;{{web.message}}</p>
      
      <a class="confirm-delete" style="float:right;color:red"  href="{% url 'incident_url_del' pk=web.id %}">delete?</a>


    </tr>
</div>
</div>


</div>
{% endfor %}
</div>
</div>
<br>
<center>
<nav aria-label="Page navigation example">
<ul  class="pagination  justify-content-center"id="pagin">
         
</ul>
</nav>
</center>










<script src="{% static 'js/pagination.js'%}"></script>




<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
    
  });
  

  

  
  </script>
  
